

body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}
a {
  text-decoration: none;
  color: none;
}
.Logo{
    display: block;
    position: fixed;
    margin-left: 2vw;
    margin-top: 4vh;
}
.Logo img{
  width:10vw;
  height: auto;
}

.BackgroundBlock{
  background-color:white;
  width:70vw;
  float: right;
  height: 100vh;
  margin:0;
  position: absolute;
  z-index: -1;
  display:flex;
  flex-direction: row;
  justify-content: space-between;

}
.MainImg{
  z-index: +1;
  position: absolute;
  margin-left: 16vw;
  margin-top: 22vh;
}
.MainImg img{
  width:30vw;
  height: auto;
}
.MainLeftBottum{
  position: fixed;
  bottom: 2vh;
  display: flex;
  flex-direction: row;
  margin-left: 5vw;
}
.MainLeftBottum p{
  margin-left: 1vw;
  color: white;
}
.Flexbox{
  display:flex;
  justify-content: flex-end;
}

.MainTextBox{
  margin-top: 32vh;
  margin-left: 23vw;
  max-width: 30vw;
}
.MainCaterogieBox{
  background-color: grey;
  width: fit-content;
  height: fit-content;
}
.Mainh1{
  color:black;
  font-size: 6rem;
  margin-top: 0.5vh;
  margin-bottom: 3vh;
}
.Mainp{
  color:grey;
}
.Mainh3{
  color:black;
  padding:0.2rem 0.4rem;
  margin-bottom: 0;
}
.Mainh4{
  color:black;
}
.MainSideBar{
  height: 100vh;
  width:6vw;
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.MenuButton{
  height:6vw;
  width:6vw;
  margin-bottom: 5px;
  margin: 0;
  background-color: white;
  display: flex;
}

.MenuButton img{
  max-width: 3vw;
  height: auto;
  margin:1.5vw;
}
.MenuBar{
  background-color: white;
  height: calc( 100vh - 6.5vw );

}
.MenuBarText{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.SidebarText{
  writing-mode: vertical-rl;
  margin-top: 10vh;
  margin-left: 2.5vw;
}
.Language{
  position: fixed;
  bottom: 0px;
  margin-left: 2vw;
  display: flex;
  flex-direction: row;
}
.Language p {
  margin-top: 0;
  margin-right: 0.3vw;
}
  #triangle-down {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 10px solid black;
      margin-top: 0.3vh;
    }
